body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.outer-container {
    background: rgb(31, 31, 31); /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
	border-radius: 10px; /* Valor do raio do arredondamento */
    overflow: hidden; /* Garante que as bordas arredondadas se apliquem corretamente */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 87vh;
    background: linear-gradient(to bottom, #4e387e, #2c2045); /* Degrade de roxo */
    padding: 20px;
	border-radius: 10px; /* Valor do raio do arredondamento */
    overflow: hidden; /* Garante que as bordas arredondadas se apliquem corretamente */
}

.input-container {
    margin-bottom: 15px;
	border-radius: 10px; /* Valor do raio do arredondamento */
    overflow: hidden; /* Garante que as bordas arredondadas se apliquem corretamente */
	
}

input {
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    text-align: center;
	border-radius: 10px; /* Valor do raio do arredondamento */
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    background-color: green;
    color: white;
    border: none;
    transition: background-color 0.3s;
}

button:hover {
    background-color: orange;
}

.result-container {
    color: green;
    border: 1px solid white;
    padding: 10px;
    width: 75%;
    box-sizing: border-box;
    margin-top: 10px;
	margin-left: 12.5%;
	border-radius: 10px; /* Valor do raio do arredondamento */
}

.labels-container {
    border: 1px solid white;
    padding: 10px;   
    align-items: center;
    justify-content: center;
	border-radius: 10px; /* Valor do raio do arredondamento */
}

label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

.valor {
    font-weight: bold;
    font-size: 18px;
}

.inss, .deducoes, .irpf {
    color: red;
}

footer {
    background: #2c2045;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

a:visited {
    color: darkgrey;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.social-icons a {
    color: white;
    font-size: 20px;
    margin: 0 10px;
}

.social-icons a:hover {
    color: red; /* Ou a cor desejada para o hover */
}